<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <!-- package 属性已在 AGP 8 移除, 由 build.gradle 的 namespace 取代 -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
</manifest>
